<!-- header -->
<header>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg fixed-top nav-menu">
    <a href="#" class="navbar-brand text-light text-uppercase"><span class="h2 font-weight-bold">Xray</span><span class="h1">9ja</span></a>
    <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
      <div class="bg-light line1"></div>
      <div class="bg-light line2"></div>
      <div class="bg-light line3"></div>
    </button>
    <div class="collapse navbar-collapse justify-content-end text-uppercase font-weight-bold" id="myNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link m-2 menu-item nav-active"><i class="fas fa-home">Home</i></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link m-2 menu-item"><i class="fas fa-music">Music</i></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link m-2 menu-item"><i class="fas fa-child">Artists</i></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- end of navbar -->

  <!-- banner -->
  <div class="text-light text-md-right text-center banner">
    <h1 class="display-4 banner-heading">Welcome to <span class="text-uppercase">xray</span><span class="display-3">9ja</span></h1>
    <p class="lead banner-par">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
  </div>
  <!-- end of banner -->
</header>
<!-- end of header -->

<!-- latest musics -->
<section class="bg-secondary py-4">
    <div class="container-fluid">
        <!-- title -->
        <div class="row text-white text-center">
            <div class="col m4">
                <h1 class="display-4 mb-4">Latest Musics</h1>
            </div>
        </div>
        <!-- end of title -->
        <div class="row">
      <div class="col-lg-4 col-sm-6 my-5">
        <div class="card border-0 card-shadow">
          <img src="/resources/img/patoranking.png" class="card-img">
          <div class="card-img-overlay">
            <h5 class="text-white text-uppercase font-weight-bold p-2 heading">Davido ft popcaan - risky</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 my-5">
        <div class="card border-0 card-shadow">
          <img src="/resources/img/patoranking.png" class="card-img">
          <div class="card-img-overlay">
            <h5 class="text-white text-uppercase font-weight-bold p-2 heading">Olamide ft Naira Marley - Mafo</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 my-5">
        <div class="card border-0 card-shadow">
          <img src="/resources/img/patoranking.png" class="card-img">
          <div class="card-img-overlay">
            <h5 class="text-white text-uppercase font-weight-bold p-2 heading">Falz - This is Nigeria</h5>
          </div>
        </div>
      </div> 
      <div class="col-lg-4 col-sm-6 my-5">
        <div class="card border-0 card-shadow">
          <img src="/resources/img/patoranking.png" class="card-img">
          <div class="card-img-overlay">
            <h5 class="text-white text-uppercase font-weight-bold p-2 heading">2baba - Africa queen</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 my-5">
        <div class="card border-0 card-shadow">
          <img src="/resources/img/patoranking.png" class="card-img">
          <div class="card-img-overlay">
            <h5 class="text-white text-uppercase font-weight-bold p-2 heading">Rema - Lady</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 my-5">
        <div class="card border-0 card-shadow">
          <img src="/resources/img/patoranking.png" class="card-img">
          <div class="card-img-overlay">
            <h5 class="text-white text-uppercase font-weight-bold p-2 heading">Rude boy - Audio money</h5>
          </div>
        </div>
      </div>
       <div class="col-lg-4 col-sm-6 my-5">
        <div class="card border-0 card-shadow">
          <img src="/resources/img/patoranking.png" class="card-img">
          <div class="card-img-overlay">
            <h5 class="text-white text-uppercase font-weight-bold p-2 heading">Zlantan ibile - yeye boyfriend</h5>
          </div>
        </div>
      </div>
       <div class="col-lg-4 col-sm-6 my-5">
        <div class="card border-0 card-shadow">
          <img src="/resources/img/patoranking.png" class="card-img">
          <div class="card-img-overlay">
            <h5 class="text-white text-uppercase font-weight-bold p-2 heading">Burnaboy - anybody</h5>
          </div>
        </div>
      </div>
       <div class="col-lg-4 col-sm-6 my-5">
        <div class="card border-0 card-shadow">
          <img src="/resources/img/patoranking.png" class="card-img">
          <div class="card-img-overlay">
            <h5 class="text-white text-uppercase font-weight-bold p-2 heading">Larry gaga ft patoranking - in my head</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-5 text-center col-8 mx-auto my-4 p-2">
            <a href="#" class="btn btn-danger text-light">More Musics..</a>
        </div>
    </div>
    </div>
</section>
<!-- end of latest musics -->

<!-- popular artists -->

<!-- end of popular artist -->

<!-- footer -->
<footer class="bg-dark px-5">
  <div class="container-fluid">
    <div class="row text-light py-4">
      <div class="col-lg-4 col-sm-6">
        <h5 class="mb-3">About Us</h5>
        <p class="small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam placeat quia cupiditate deleniti reiciendis, ab, eaque ex molestiae error, quasi inventore odio pariatur molestias sunt?</p>
      </div>
      <div class="col-lg-2 col-sm-6">
        <h5 class="mb-3">Visit Us</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="footer-link">Home</a>
          </li>
          <li>
            <a href="#" class="footer-link">Music</a>
          </li>
          <li>
            <a href="#" class="footer-link">Artists</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-6">
        <h5 class="mb-3">Need Help?</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="footer-link">Customer Service</a>
          </li>
          <li>
            <a href="#" class="footer-link">Online Chat</a>
          </li>
          <li>
            <a href="#" class="footer-link">Support</a>
          </li>
          <li>
            <a href="#" class="text-info">xray9ja@gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-sm-6">
        <h5 class="pb-3">Stay Connected</h5>
        <p class="small">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam veniam odio necessitatibus, ab corrupti itaque blanditiis inventore sunt tempore perferendis.</p>
        <form class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email Address"> 
            <div class="input-group-append">
              <button type="button" class="btn btn-danger text-white text-uppercase font-weight-bold">Sign Up</button>
            </div>
          </div>
        </form>
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fab fa-facebook-square fa-2x text-primary"></i></li>
          <li class="list-inline-item"><i class="fab fa-google-plus fa-2x text-danger"></i></li>
          <li class="list-inline-item"><i class="fab fa-instagram fa-2x text-danger"></i></li>
          <li class="list-inline-item"><i class="fab fa-twitter fa-2x text-info"></i></li>
          <li class="list-inline-item"><i class="fab fa-youtube fa-2x text-danger"></i></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center text-light border-top pt-3">
        <p>&copy; 2019 Copyright, All Right Reserved</p>
      </div>
    </div>
  </div>
</footer>
<!-- end of footer-->